In [1]:
import numpy as np
import pandas as pd

In [2]:
df_0 = pd.read_csv('data/ChEMBL_ASK1(IC50).csv', sep=';')
df_1 = pd.read_csv('data/Pubchem_ASK1.csv', low_memory=False)
df_2 = pd.read_csv('data/sample_submission.csv')
df_3 = pd.read_csv('data/test.csv')

In [3]:
df_0.columns

Index(['Molecule ChEMBL ID', 'Molecule Name', 'Molecule Max Phase',
       'Molecular Weight', '#RO5 Violations', 'AlogP', 'Compound Key',
       'Smiles', 'Standard Type', 'Standard Relation', 'Standard Value',
       'Standard Units', 'pChEMBL Value', 'Data Validity Comment', 'Comment',
       'Uo Units', 'Ligand Efficiency BEI', 'Ligand Efficiency LE',
       'Ligand Efficiency LLE', 'Ligand Efficiency SEI', 'Potential Duplicate',
       'Assay ChEMBL ID', 'Assay Description', 'Assay Type', 'BAO Format ID',
       'BAO Label', 'Assay Organism', 'Assay Tissue ChEMBL ID',
       'Assay Tissue Name', 'Assay Cell Type', 'Assay Subcellular Fraction',
       'Assay Parameters', 'Assay Variant Accession', 'Assay Variant Mutation',
       'Target ChEMBL ID', 'Target Name', 'Target Organism', 'Target Type',
       'Document ChEMBL ID', 'Source ID', 'Source Description',
       'Document Journal', 'Document Year', 'Cell ChEMBL ID', 'Properties',
       'Action Type', 'Standard Text Value', 'Value'],
      dtype='object')

In [4]:
df_0.describe()

,Molecular Weight,#RO5 Violations,AlogP,Standard Value,pChEMBL Value,Ligand Efficiency BEI,Ligand Efficiency LE,Ligand Efficiency LLE,Ligand Efficiency SEI,Potential Duplicate,Assay Variant Accession,Assay Variant Mutation,Source ID,Document Year,Standard Text Value,Value
count,824.000000,824.000000,824.000000,812.000000,714.000000,528.000000,528.000000,528.000000,528.000000,824.000000,0.0,0.0,824.000000,824.000000,0.0,812.000000
mean,412.058107,0.205097,3.883313,4005.811675,6.851863,17.691477,0.335322,3.349053,7.885398,0.013350,NaN,NaN,18.980583,2019.321602,NaN,824.981523
std,67.688973,0.524420,1.182822,19767.835076,1.088154,3.626563,0.067892,1.878207,2.005025,0.114836,NaN,NaN,27.447502,4.044674,NaN,2506.605160
min,181.220000,0.000000,0.070000,0.100000,4.000000,8.760000,0.170000,-2.270000,4.040000,0.000000,NaN,NaN,1.000000,2008.000000,NaN,0.000690
25%,364.125000,0.000000,3.020000,29.975000,5.950000,15.620000,0.300000,2.320000,6.550000,0.000000,NaN,NaN,1.000000,2017.000000,NaN,7.575000
50%,422.460000,0.000000,3.960000,183.000000,6.965000,18.020000,0.340000,3.650000,7.685000,0.000000,NaN,NaN,1.000000,2020.000000,NaN,37.000000
75%,445.500000,0.000000,4.680000,1917.250000,7.680000,20.302500,0.380000,4.732500,8.882500,0.000000,NaN,NaN,37.000000,2023.000000,NaN,323.250000
max,851.980000,3.000000,7.470000,500000.000000,10.000000,26.910000,0.550000,7.860000,16.860000,1.000000,NaN,NaN,65.000000,2024.000000,NaN,27542.000000

In [5]:
df_0

,Molecule ChEMBL ID,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,Smiles,Standard Type,Standard Relation,...,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties,Action Type,Standard Text Value,Value
0,CHEMBL3927617,NaN,None,359.81,0,2.68,BDBM128413,Cn1cc(Cl)c2cnc(NC(=O)c3ccc([C@](C)(O)CO)cc3)cc21,IC50,'=',...,CHEMBL3639127,37,BindingDB Patent Bioactivity Data,NaN,2014,None,NaN,NaN,NaN,38.000
1,CHEMBL3330172,NaN,None,336.44,0,1.84,19,Cc1cc2c(-c3ccc(S(=O)(=O)NCCN)s3)ccnc2[nH]1,IC50,'=',...,CHEMBL3352072,1,Scientific Literature,Bioorg Med Chem Lett,2014,None,NaN,NaN,NaN,0.251
2,CHEMBL3402498,NaN,None,517.05,2,7.47,24,Cc1cc(C)c2nc(N3C(=O)C(O)=C(C(=O)c4ccc(Cl)cc4)C...,IC50,'=',...,CHEMBL3400130,1,Scientific Literature,Bioorg Med Chem,2015,None,NaN,NaN,NaN,6.300
3,CHEMBL3402495,NaN,None,500.60,2,6.82,21,Cc1ccc(C(=O)C2=C(O)C(=O)N(c3nc4ccc(F)cc4s3)C2c...,IC50,'=',...,CHEMBL3400130,1,Scientific Literature,Bioorg Med Chem,2015,None,NaN,NaN,NaN,7.600
4,CHEMBL3402491,NaN,None,490.97,1,6.13,17,CCOc1ccc2nc(N3C(=O)C(O)=C(C(=O)c4ccccc4)C3c3cc...,IC50,'=',...,CHEMBL3400130,1,Scientific Literature,Bioorg Med Chem,2015,None,NaN,NaN,NaN,4.200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819,CHEMBL3330170,NaN,None,362.32,0,2.97,3; MSC2032964A,O=C(Nc1nc2cc(C(F)(F)F)cc(NC3CC3)n2n1)c1cccnc1,IC50,'=',...,CHEMBL4321844,1,Scientific Literature,J Med Chem,2019,None,NaN,NaN,NaN,131.000
820,CHEMBL4783726,NaN,None,411.47,0,3.99,3,O=C(Nc1cccc(-c2nncn2C2CC2)c1)c1cc(-n2cnc(C3CC3...,IC50,'=',...,CHEMBL4819011,1,Scientific Literature,Eur J Med Chem,2021,None,NaN,INHIBITOR,NaN,2.870
821,CHEMBL3330170,NaN,None,362.32,0,2.97,3; MSC2032964A,O=C(Nc1nc2cc(C(F)(F)F)cc(NC3CC3)n2n1)c1cccnc1,IC50,'=',...,CHEMBL4321844,1,Scientific Literature,J Med Chem,2019,CHEMBL3706569,NaN,NaN,NaN,13.000
822,CHEMBL3916717,SELONSERTIB,3.0,445.50,0,4.68,2; GS-4997,Cc1cc(F)c(C(=O)Nc2cccc(-c3nncn3C(C)C)n2)cc1-n1...,IC50,'=',...,CHEMBL4837198,1,Scientific Literature,Eur J Med Chem,2021,None,TIME = 1.0 hr,INHIBITOR,NaN,7501.000
823,CHEMBL4449840,NaN,None,509.56,2,6.19,92; K812,COc1cc2nccc(Oc3ccc(NC(=O)c4cn(C(C)C)c5ccccc5c4...,IC50,'=',...,CHEMBL5149965,1,Scientific Literature,J Med Chem,2021,None,NaN,INHIBITOR,NaN,6.000

In [6]:
df_1.columns

Index(['Bioactivity_ID', 'Activity_Value', 'BioAssay_AID', 'Substance_SID',
       'Compound_CID', 'refsid', 'Gene_ID', 'PMID', 'Aid_Type',
       'Last_Modified_Date', 'Has_Dose_Response_Curve', 'RNAi_BioAssay',
       'Activity', 'Protein_Accession', 'Activity_Type', 'Activity_Qualifier',
       'Bioassay_Data_Source', 'BioAssay_Name', 'Compound_Name', 'Target_Name',
       'Target_Link', 'ECs', 'Representative_Protein_Accession', 'Taxonomy_ID',
       'Cell_ID', 'Target_Taxonomy_ID', 'Anatomy_ID', 'Anatomy', 'dois',
       'pmcids', 'pclids', 'citations', 'SMILES'],
      dtype='object')

In [7]:
df_1.describe()

,Bioactivity_ID,Activity_Value,BioAssay_AID,Substance_SID,Compound_CID,refsid,Gene_ID,PMID,Last_Modified_Date,Has_Dose_Response_Curve,RNAi_BioAssay,Taxonomy_ID,Cell_ID,Target_Taxonomy_ID,Anatomy_ID,Anatomy,pclids
count,2.379500e+04,1148.000000,2.379500e+04,2.379500e+04,2.379500e+04,9.900000e+01,23795.0,1.213000e+03,2.379500e+04,23795.000000,23795.0,23795.0,99.00000,0.0,0.0,0.0,1.213000e+03
mean,3.425175e+08,8.715402,1.161869e+06,3.078826e+08,1.111628e+08,5.004512e+08,4217.0,2.683032e+07,2.016295e+07,0.000168,0.0,9606.0,192.40404,NaN,NaN,NaN,1.688461e+07
std,2.086180e+07,17.833577,1.321318e+05,3.981424e+07,2.468049e+07,8.844720e+06,0.0,4.834824e+06,1.308469e+04,0.012965,0.0,0.0,205.42206,NaN,NaN,NaN,8.180465e+06
min,6.581142e+06,0.000100,5.150000e+02,4.257841e+06,1.900000e+02,4.811014e+08,4217.0,1.571154e+07,2.006112e+07,0.000000,0.0,9606.0,2.00000,NaN,NaN,NaN,3.701730e+05
25%,3.431280e+08,0.094750,1.159602e+06,3.102872e+08,1.170777e+08,5.007568e+08,4217.0,2.339836e+07,2.016021e+07,0.000000,0.0,9606.0,54.00000,NaN,NaN,NaN,1.139976e+07
50%,3.434840e+08,4.171500,1.159602e+06,3.102930e+08,1.170839e+08,5.055929e+08,4217.0,2.588253e+07,2.016021e+07,0.000000,0.0,9606.0,54.00000,NaN,NaN,NaN,1.745506e+07
75%,3.437826e+08,18.126750,1.159602e+06,3.102988e+08,1.170897e+08,5.058808e+08,4217.0,3.171048e+07,2.016021e+07,0.000000,0.0,9606.0,490.00000,NaN,NaN,NaN,2.147900e+07
max,4.079482e+08,500.000000,1.934841e+06,4.944080e+08,1.682788e+08,5.058870e+08,4217.0,3.638429e+07,2.024050e+07,1.000000,0.0,9606.0,521.00000,NaN,NaN,NaN,3.528550e+07

In [8]:
df_1

,Bioactivity_ID,Activity_Value,BioAssay_AID,Substance_SID,Compound_CID,refsid,Gene_ID,PMID,Aid_Type,Last_Modified_Date,...,Taxonomy_ID,Cell_ID,Target_Taxonomy_ID,Anatomy_ID,Anatomy,dois,pmcids,pclids,citations,SMILES
0,363645869,0.00010,1404085,404713175,145990765,NaN,4217,29348070.0,Confirmatory,20220830,...,9606,NaN,NaN,NaN,NaN,10.1016/j.ejmech.2017.12.041,NaN,29725507.0,"Lovering F, Morgan P, Allais C, Aulabaugh A, B...",CC1=CC(=C(C=C1S(=O)(=O)N)C(=O)NC2=CC=CC(=N2)C3...
1,363645871,0.00032,1404085,404710600,145989111,NaN,4217,29348070.0,Confirmatory,20220830,...,9606,NaN,NaN,NaN,NaN,10.1016/j.ejmech.2017.12.041,NaN,29725507.0,"Lovering F, Morgan P, Allais C, Aulabaugh A, B...",CCS(=O)(=O)NC1=CC(=C(C=C1)OC)C(=O)NC2=CC=CC(=N...
2,402153100,0.00040,1798298,315662963,91810341,NaN,4217,NaN,Confirmatory,20240109,...,9606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CNC(=O)C1CCN(CC1)C2=CN=C(C=C2N3C=C(N=C3)C4CC4)...
3,363645870,0.00042,1404085,404718488,145994100,NaN,4217,29348070.0,Confirmatory,20220830,...,9606,NaN,NaN,NaN,NaN,10.1016/j.ejmech.2017.12.041,NaN,29725507.0,"Lovering F, Morgan P, Allais C, Aulabaugh A, B...",CC1=CC(=C(C=C1C(=O)N)C(=O)NC2=CC=CC(=N2)C3=NN=...
4,363647477,0.00069,1410111,123092436,44259,505885041.0,4217,29558119.0,Confirmatory,20220830,...,9606,NaN,NaN,NaN,NaN,10.1021/acs.jnatprod.7b01058,NaN,31083176.0,"Wang JN, Zhang HJ, Li JQ, Ding WJ, Ma ZJ. Bioa...",CC12C(C(CC(O1)N3C4=CC=CC=C4C5=C6C(=C7C8=CC=CC=...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23790,380791343,NaN,1912550,318392326,58557659,483927449.0,4217,NaN,Other,20230629,...,9606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CCC1CN(CC1C2=CN=C3N2C4=C(NC=C4)N=C3)C(=O)NCC(F...
23791,380791344,NaN,1912550,461533915,44537856,NaN,4217,NaN,Other,20230629,...,9606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CCC1=C(C(=CC=C1)CC)NC(=O)C2=NN(C3=C2CCC4=CN=C(...
23792,380791345,NaN,1912550,103641275,9874913,NaN,4217,NaN,Other,20230629,...,9606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CC1=NC=C(C=C1)OC2=C(C=C(C=C2)NC3=NC=NC4=C3C=C(...
23793,380791346,NaN,1912550,242579185,25073775,NaN,4217,NaN,Other,20230629,...,9606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CNC(=O)C1=CC=CC=C1NC2=CC(=NC=C2C(F)(F)F)NC3=C(...
23794,407948206,NaN,1934841,494408034,166176962,NaN,4217,36384292.0,Literature-derived,20240503,...,9606,NaN,NaN,NaN,NaN,10.1021/acs.jmedchem.2c01334,NaN,35285503.0,"Yang B, Zhang H, Li N, Gao L, Jiang H, Kan W, ...",C=CC(=O)NC1=CC=C(C=C1)C(=O)NC2=NNC3=C2C=C(C=C3...

In [9]:
df_2

           ID  ASK1_IC50_nM
0    TEST_000             1
1    TEST_001             2
2    TEST_002             1
3    TEST_003             2
4    TEST_004             1
..        ...           ...
122  TEST_122             1
123  TEST_123             2
124  TEST_124             1
125  TEST_125             2
126  TEST_126             1

[127 rows x 2 columns]

In [10]:
len(np.unique(df_3['Smiles']))

127

In [2]:
import pandas as pd
import numpy as np
from rdkit import Chem
from rdkit.Chem import AllChem
from rdkit.Chem import AllChem, DataStructs, Descriptors
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
import os
import random

In [3]:
CFG = {
    'NBITS': 2048,
    'SEED': 42
}

In [4]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(CFG['SEED'])

In [5]:
# SMILES 데이터를 분자 지문으로 변환
def smiles_to_fingerprint(smiles):
    mol = Chem.MolFromSmiles(smiles)
    if mol is not None:
        fp = AllChem.GetMorganFingerprintAsBitVect(mol, 2, nBits=CFG['NBITS'])
        return np.array(fp)
    else:
        return np.zeros((CFG['NBITS'],))

In [6]:
def IC50_to_pIC50(ic50_nM):
    ic50_nM = np.clip(ic50_nM, 1e-10, None)
    return 9 - np.log10(ic50_nM)

In [7]:
chembl = pd.read_csv("data/ChEMBL_ASK1(IC50).csv", sep=';')
pubchem = pd.read_csv("data/Pubchem_ASK1.csv", low_memory=False)

In [8]:
pubchem.shape

(23795, 33)

In [9]:
chembl.columns = chembl.columns.str.strip().str.replace('"', '')
chembl = chembl[chembl['Standard Type'] == 'IC50']
chembl = chembl[['Smiles', 'Standard Value']].rename(columns={'Smiles': 'smiles', 'Standard Value': 'ic50_nM'}).dropna()
chembl['ic50_nM'] = pd.to_numeric(chembl['ic50_nM'], errors='coerce')
chembl['pIC50'] = IC50_to_pIC50(chembl['ic50_nM'])

In [10]:
pubchem = pubchem[['SMILES', 'Activity_Value']].rename(columns={'SMILES': 'smiles', 'Activity_Value': 'ic50_nM'}).dropna()
pubchem['ic50_nM'] = pd.to_numeric(pubchem['ic50_nM'], errors='coerce')
pubchem['pIC50'] = IC50_to_pIC50(pubchem['ic50_nM'])

In [11]:
pubchem.shape

(1148, 3)

In [12]:
total = pd.concat([chembl, pubchem], ignore_index=True)
total = total.drop_duplicates(subset='smiles')
total = total[total['ic50_nM'] > 0].dropna()

In [13]:
def calculate_rdkit_descriptors(smiles):
    mol = Chem.MolFromSmiles(smiles)
    if mol is None: return np.full((len(Descriptors._descList),), np.nan)
    descriptors = [desc_func(mol) for _, desc_func in Descriptors._descList]
    return np.array(descriptors)

In [31]:
total['pIC50'] = IC50_to_pIC50(total['ic50_nM'])
print("\n--- Feature Engineering ---")
total['fingerprint'] = total['smiles'].apply(smiles_to_fingerprint)
total['descriptors'] = total['smiles'].apply(calculate_rdkit_descriptors)
total.dropna(subset=['fingerprint', 'descriptors'], inplace=True)

desc_stack = np.stack(total['descriptors'].values)
desc_mean = np.nanmean(desc_stack, axis=0)
desc_stack = np.nan_to_num(desc_stack, nan=desc_mean)

scaler = StandardScaler()
desc_scaled = scaler.fit_transform(desc_stack)
fp_stack = np.stack(total['fingerprint'].values)
X_train = np.hstack([fp_stack, desc_scaled])
y_train = total['pIC50'].values

--- Feature Engineering ---

In [25]:
X.shape

(1224, 2256)

In [26]:
y.shape

(1224,)

In [ ]:
# total.to_csv("data/original.csv", index=False)

In [19]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=CFG['SEED'])

In [20]:
model = RandomForestRegressor(random_state=CFG['SEED'])
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [22]:
y_val_pred = model.predict(X_val)
rmse = mean_squared_error(IC50_to_pIC50(y_val), IC50_to_pIC50(y_val_pred), squared=False)
print(f"\n Validation RMSE (IC50 scale): {rmse:.4f}\n")

 Validation RMSE (IC50 scale): 0.1080

In [30]:
def pIC50_to_IC50(pIC50):
    return 10 ** (9 - pIC50)

In [27]:
test = pd.read_csv("data/test.csv")

In [20]:
test

,ID,Smiles,Fingerprint
0,TEST_000,CC(C)n1cnnc1c2cccc(n2)N3C=Cc4ccc(Br)cc4C3=O,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,TEST_001,C[C@H](CO)n1cnnc1c2cccc(n2)N3C=Cc4ccc(Br)cc4C3=O,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,TEST_002,C[C@H](CO)n1cnnc1c2cccc(n2)N3C=Cc4cc(Br)ccc4C3=O,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,TEST_003,CC(C)n1cnnc1c2cccc(n2)N3C=NNC3=O,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,TEST_004,C[C@H](CO)n1cnnc1c2cccc(n2)N3C=Cc4cc(ccc4C3=O)...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...
122,TEST_122,CC(C)n1cnnc1c2cccc(n2)N3C=CN(CCc4ccc(\C=C\c5cc...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
123,TEST_123,CC(C)n1cnnc1c2cccc(n2)N3C=CN(CCc4ccc(cc4)c5ccc...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
124,TEST_124,CC(C)n1cnnc1c2cccc(n2)N3C=CN(CCc4ccc(\C=C\C5CC...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
125,TEST_125,CC(C)n1cnnc1c2cccc(n2)N3C=CN(CCc4ccc(cc4)c5cnc...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
126,TEST_126,CC(C)n1cnnc1c2cccc(n2)N3C=CN(CCc4ccc(cc4)c5c[n...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [33]:
test['Fingerprint'] = test['Smiles'].apply(smiles_to_fingerprint)
test['descriptors'] = test['Smiles'].apply(calculate_rdkit_descriptors)
test.dropna(subset=['Fingerprint', 'descriptors'], inplace=True)

desc_stack = np.stack(test['descriptors'].values)
desc_mean = np.nanmean(desc_stack, axis=0)
desc_stack = np.nan_to_num(desc_stack, nan=desc_mean)


desc_scaled = scaler.transform(desc_stack)
fp_stack = np.stack(test['Fingerprint'].values)
X_test = np.hstack([fp_stack, desc_scaled])

In [34]:
import numpy as np

# 단일 배열 저장
np.save("X_train.npy", X_train)
np.save("y_train.npy", y_train)
np.save("X_test.npy", X_test)


# 로드
loaded_arr = np.load("X_train.npy")
print(loaded_arr)

[[ 0.          0.          0.         ... -0.17157069 -0.13102535
  -0.28508259]
 [ 0.          0.          0.         ...  5.8285014  -0.13102535
  -0.28508259]
 [ 0.          1.          0.         ... -0.17157069 -0.13102535
  -0.28508259]
 ...
 [ 0.          0.          0.         ... -0.17157069 -0.13102535
  -0.28508259]
 [ 0.          0.          0.         ... -0.17157069 -0.13102535
  -0.28508259]
 [ 0.          0.          0.         ... -0.17157069 -0.13102535
  -0.28508259]]

In [32]:
test['Fingerprint'] = test['Smiles'].apply(smiles_to_fingerprint)
test = test[test['Fingerprint'].notnull()]

X_test = np.stack(test['Fingerprint'].values)
test['pIC50_pred'] = model.predict(X_test)
test['ASK1_IC50_nM'] = pIC50_to_IC50(test['pIC50_pred'])

In [ ]:
total['pIC50'] = IC50_to_pIC50(total['ic50_nM'])
print("\n--- Feature Engineering ---")
total['fingerprint'] = total['smiles'].apply(smiles_to_fingerprint)
total['descriptors'] = total['smiles'].apply(calculate_rdkit_descriptors)
total.dropna(subset=['fingerprint', 'descriptors'], inplace=True)

desc_stack = np.stack(total['descriptors'].values)
desc_mean = np.nanmean(desc_stack, axis=0)
desc_stack = np.nan_to_num(desc_stack, nan=desc_mean)

scaler = StandardScaler()
desc_scaled = scaler.fit_transform(desc_stack)
fp_stack = np.stack(total['fingerprint'].values)
X = np.hstack([fp_stack, desc_scaled])
y = total['pIC50'].values

In [33]:
test

,ID,Smiles,Fingerprint,pIC50_pred,ASK1_IC50_nM
0,TEST_000,CC(C)n1cnnc1c2cccc(n2)N3C=Cc4ccc(Br)cc4C3=O,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",8.846552,1.423797
1,TEST_001,C[C@H](CO)n1cnnc1c2cccc(n2)N3C=Cc4ccc(Br)cc4C3=O,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",8.868731,1.352911
2,TEST_002,C[C@H](CO)n1cnnc1c2cccc(n2)N3C=Cc4cc(Br)ccc4C3=O,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",8.892211,1.281708
3,TEST_003,CC(C)n1cnnc1c2cccc(n2)N3C=NNC3=O,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",8.925207,1.187936
4,TEST_004,C[C@H](CO)n1cnnc1c2cccc(n2)N3C=Cc4cc(ccc4C3=O)...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",9.001373,0.996844
...,...,...,...,...,...
122,TEST_122,CC(C)n1cnnc1c2cccc(n2)N3C=CN(CCc4ccc(\C=C\c5cc...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",8.815454,1.529487
123,TEST_123,CC(C)n1cnnc1c2cccc(n2)N3C=CN(CCc4ccc(cc4)c5ccc...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",9.040262,0.911460
124,TEST_124,CC(C)n1cnnc1c2cccc(n2)N3C=CN(CCc4ccc(\C=C\C5CC...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",8.928412,1.179201
125,TEST_125,CC(C)n1cnnc1c2cccc(n2)N3C=CN(CCc4ccc(cc4)c5cnc...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",8.843531,1.433734
126,TEST_126,CC(C)n1cnnc1c2cccc(n2)N3C=CN(CCc4ccc(cc4)c5c[n...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",9.184695,0.653590

In [ ]:
# submission = pd.read_csv('data/open/sample_submission.csv') 
# submission['ASK1_IC50_nM'] = test['ASK1_IC50_nM']
# submission.to_csv("baseline_submit.csv", index=False)